<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
    	<title>Bobby Joe Profile</title>
    	<link rel="stylesheet" type="text/css" href="static/css/rideInfo.css">
</head>
<body>
	<div class="container">
			<div id="header">
        		<h1>RIDE <span>SHARE</span></h1>
        		<button id="logout">Log Out</button>
      		</div>
      		<div id="page">
				<div id="profile">
					<img id="profilePic" src="img/smallcancel.png">
					<p id="name">Bobby Joe</p>
					<p id="about">About</p>
					<p id="sentence">Just moved from middle of nowhere. Bringing the small town friendliness to the big city.</p>
				</div>	
				<div id="tripDetails">
					<div id="tripHeader">
						<h1>The Trip</h1>
					</div>
					<div id="details">
						<h2>Details</h2>
						<p>Quick and fun ride to Santa Monica. We can stop for coffee if time permits :) </p>
					</div>
					<div id="intinerary">
						<h2>Intinerary</h2>
						<h3>Valenica --> Santa Monica</h3>
					</div>
					<div id="depatSeats">
						<h4>DEPARTING</h4>
						<h4 id="seatsAvail">SEATS AVAIL.</h4>
						<p id="info">July 15th,<br>10:00am</p>
						<span id="numberSeats">3</span>
						<img src="img/seat.jpg">
						<img src="img/seat.jpg">
						<img src="img/seat.jpg">
					</div>
					<form action="" method="">
						<button id="request" type="submit" value="Request Ride!">Request Ride!</button>
					</form>
				</div>	
			</div>
	</div>		
</body>
</html>